.top-bar{
    height: 5px;
    background-color: #f1592a;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 960px;
    width: 100%;
}

.navbar-container{
    display: flex;
  justify-content: center;
}

.user{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    align-items: center;

}

.user > label{
    color: #9e9e9e;
    font-size: 14px;
    padding: 7px;
    text-decoration: none;
}

.user > label:hover{
    color: #f1592a;
    cursor: pointer;
}

.nav-menu > a{
    text-decoration: none;
    border: 1px solid #9e9e9e;
    color: #9e9e9e;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.nav-menu > a:hover{
    color: #f1592a;
}

.nav-menu a.active {
    color: #f1592a;
    background-color: #fff;
    padding-top: 12px;
  }